{% extends 'index.html' %}

{% block content %}
   <h1>{{ event.name }}</h1>
   {% if has_registered %}
      <p>You have already registered for this event.</p>
   {% else %}
      <a href="{% url 'event-confirmation' event.id %}">Register For An Event</a>
   {% endif %}
   
   {% if submitted %}
      <p>You have already submitted your project.</p>
   {% else %}
      <a href="{% url 'project-submission' event.id %}">Submit Project</a>
   {% endif %}
   
   <p>{{ event.description }}</p>
   
   <div>
      <h2>Event Participants</h2>
      <div>
         {% for participant in event.participants.all %}
            <div>
               <strong>{{ participant.name }}</strong>
            </div>
         {% endfor %}
      </div>
   </div>
{% endblock content %}