{% extends 'index.html' %}

{% block content %}
   <h1>Reset Password</h1>
   <form method="POST" class="mt-4">
      {% csrf_token %}
      <div class="mb-3">
         <label for="password1" class="form-label">New Password</label>
         <input type="password" name="password1" id="password1" class="form-control" placeholder="**********" />
      </div>
      <div class="mb-3">
         <label for="password2" class="form-label">Confirm Password</label>
         <input type="password" name="password2" id="password2" class="form-control" placeholder="*********" />
      </div>
      <input type="submit" class="btn btn-danger w-100" value="Reset" />
   </form>
{% endblock content %}