{% extends 'index.html' %}

{% load widget_tweaks %}

{% block content %}
   <h1>Edit Account</h1>
   <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="mb-3">
         {% render_field form.username class="form-control" placeholder="New username" %}
      </div>
      <div class="mb-3">
         {% render_field form.email class="form-control" placeholder="New email" %}
      </div>
      <div class="mb-3">
         {% render_field form.avatar class="form-control" placeholder="Update profile pic" %}
      </div>
      <input type="submit" class="btn btn-info w-100" value="Done" />
   </form>
{% endblock content %}