.navbar-toggler-icon {
   font-size: 1rem;
}

.user-card .user-box img {
   width: 100px;
   height: 100px;
   border-radius: 50%;
   object-fit: cover;
}

#profile-section .profile-img {
   width: 100px;
   height: 100px;
   border-radius: 50%;
   object-fit: cover;
}

#profile-section .user-info-card p {
   font-size: .9rem;
}

.bg-custom-error-bg {
   background-color: rgba(255, 0, 0, .1);
}